# Analysis of tips.csv dataset
Data analysis of the tips.csv dataset in completion of Module 52446 "Fundamentals of Data Analysis", Higher Diploma in Data Analytics, Galway-Mayo Institute of Technology

## What is in this document

In [1]:
# Import modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [48]:
# Import tips.csv dataset
df = pd.read_csv('tips.csv')

pandas.core.frame.DataFrame

In [3]:
# Identify column titles and first 5 rows
df.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
# Check across data variables for missing values
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [68]:
# Reveal some basic descriptive statistics
for col in df:
    print("Descriptive statistics for variable: {}".format(col))
    print(df[col].describe())
    print()

Descriptive statistics for variable: total_bill
count    244.000000
mean      19.785943
std        8.902412
min        3.070000
25%       13.347500
50%       17.795000
75%       24.127500
max       50.810000
Name: total_bill, dtype: float64

Descriptive statistics for variable: tip
count    244.000000
mean       2.998279
std        1.383638
min        1.000000
25%        2.000000
50%        2.900000
75%        3.562500
max       10.000000
Name: tip, dtype: float64

Descriptive statistics for variable: sex
count      244
unique       2
top       Male
freq       157
Name: sex, dtype: object

Descriptive statistics for variable: smoker
count     244
unique      2
top        No
freq      151
Name: smoker, dtype: object

Descriptive statistics for variable: day
count     244
unique      4
top       Sat
freq       87
Name: day, dtype: object

Descriptive statistics for variable: time
count        244
unique         2
top       Dinner
freq         176
Name: time, dtype: object

Descriptive statistics for variable: size
count    244.000000
mean       2.569672
std        0.951100
min        1.000000
25%        2.000000
50%        2.000000
75%        3.000000
max        6.000000
Name: size, dtype: float64

In [69]:
df.describe(include="all")

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [13]:
# Determine proportion of males in sample
gender = df.groupby('sex').size()
propmale = round((gender['Male']/(gender['Female']+gender['Male']))*100, 2)
f"Proportion of sample that are male: {propmale}%"

'Proportion of sample that are male: 64.34%'

In [16]:
# Determine proportion of smokers in sample
smokers = df.groupby('smoker').size()
propsmoker = round((smokers['Yes']/(smokers['No']+smokers['Yes']))*100, 2)
f"Proportion of sample that are smokers: {propsmoker}%"

'Proportion of sample that are smokers: 38.11%'